<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\Image\UrlBuilder">
        <plugin name="themelayoutpro_plugin_product_image_url_builder" type="Codazon\ThemeLayoutPro\Plugin\Product\Image\UrlBuilder" sortOrder="100" disabled="false" />
    </type>
    <type name="Magento\CatalogSearch\Controller\Advanced\Result">
        <plugin name="themelayoutpro_plugin_controller_catalogsearch_advanced_result" type="Codazon\ThemeLayoutPro\Plugin\Controller\CatalogSearchAdvancedResult" />
    </type>
</config>