.columns .column.main{
	padding-bottom: 0;
}
/*Title*/
.cdz-block-title{
	margin-bottom: 20px;
	.b-title.h2{
		font: @f_h1;
		color: @main_title_text;
		margin-bottom: 0;
		font-weight: 500;
	}
	.title-desc{
		font: @f_h5;
		color: @main_text_normal;
		letter-spacing: 1.5px;
	}	
}


/*slide show*/
.cdz-slideshow{
	position: relative;
	.owl-dots-style-03();
	.slider-arrow-style-03();
	.owl-loaded .owl-stage{
		padding: 0;
	}
	.item-image{
		.abs-borderradius(5px);
	}
	.item-desc{
		position: absolute;
		top: 10%;
		left: 0;
		width: 100%;
		.slide-caption.slide-center{
			position: absolute;
			top: 10%;
			left: 25%;
			width: 50%;
		}
	}
}

.product-list-style-02{
	&.cdz-product-wrap{
		.abs-boxshadow(@main_box_shadow);
		.abs-borderradius(@main_box_radius);
		background: @main_block_background;
	}
	.cdz-banner{
		background-color: @btn_primary_background;
		color:@btn_primary_text;
		position: relative;
		padding: 30px;
		width: 100%;
		height: 100%;
		.label{
			font: @f_note;
			text-transform: uppercase;
			font-style: italic;
			margin-bottom:45px;			
			font-weight: 600;			
		}
		.h2{
			font-size: 230%;
			text-transform: uppercase;
			font-weight: 600;
			line-height:1.3;			
		}
		.actions{
			margin-top:auto;
			.primary{
				padding: 6px 30px;
				width: auto;
			    border-color: @btn_primary_text;
			    border-width: 2px;
			    font: @f_h5;
			    height: auto;
			    .abs-borderradius(5px);
			    span{
			    	padding: 0;
			    	&:before,
			    	&:after{display:none;}
			    }
			    &:hover{
			    	.abs-style(@btn_primary_background, @btn_primary_text, @btn_primary_text )
			    }
			}
		}		
		&:after{
			width:0px;
		  	height:0px;
		  	border-bottom:12px solid transparent;
		  	border-top:12px solid transparent;
		  	border-left:12px solid @btn_primary_background;
		  	content: "";
		  	position: absolute;
		  	right:-10px;
		  	z-index: 2;
		  	.abs-calc-top(~'(100% - 12px)/2');
		  	.rtl-layout &{
		  		border-bottom:12px solid transparent;
				border-top:12px solid transparent;
				border-right:12px solid @btn_primary_background;
				border-left:0;
				right:auto;
				left:-10px
		  	}
		}
	}
}
/*--------------------------*/
/*Responsive*/
/*--------------------------*/
@media @tablet_vertical{
	.header-style-03{
		.panel.header{
			padding-bottom: 0;
		}
		.panel.header .header-panel-bottom {
			margin: 20px 0 0;
    		width: 100%;
		}
	}
	.cdz-slideshow{
		padding: 10px;
		background: @main_block_background;
		&:after{
			width: 100%;
			height: 100%;
			content:'';
			position: absolute;
			left: 0;
			top: 0;
			.abs-boxshadow(0px 10px 20px 5px #eeeeee);
			.abs-borderradius(5px);
		}
	}
}
@media @phone{
	.cdz-slideshow .item-image{.abs-borderradius(0);}
	.banner-img{padding: 0}
	.cdz-block-title .b-title.h2{font-weight: 600}
	.slide-desc{display: none}
	.product-list-style-02 {
		> .row{
		    margin: 0;
		}
		.cdz-banner{
			width: 100%;
			display: block;
			.abs-borderradius(5px 5px 0 0);			
			&:after{display: none}
			.label{margin-bottom: 20px;}
			.h2{font-size: 160%}
			.desc{margin-bottom: 30px}
		}
		.wrap-left{
			padding: 0
		}
	}
}
@media @tablet-strict_small{
	.product-list-style-02 {
		.cdz-banner .h2{
			font-size: 150%
		}
		.wrap-left{width: 30%;}
		.wrap-right{width: 70%}
	}
}
@media @tablet-strict_large{
	.product-list-style-02{
		.wrap-left{width: 25%}
		.wrap-right{width: 75%}
	}
}
/*General style*/
.list.products-list{
	.cdz-product-labels{
		.prolabels-style01();
	}
}
[class*='product-list-style'],
[class*='post-list-style'],
[class*='wrapper-adv-style'],
[class*='brand-style']{
	@media @desktop{
		.slider-arrow-style-02()
	}
}
/*Category*/
.sidebar .block:not(.account-nav){
	.block-style04();	
}
.toolbar{
	.toolbar-option2(0px);
}
/*category - product list*/
.list.products-list{
	.item.product-item{
		.toolbar-option2(0px);
	}
}

/*My account*/
.account-nav{
	.content{
		.toolbar-option2(0px);
	}
}

/*Blog*/

.post-list .post-holder,
.post-view .post-holder{
	.blog-box(0px); /*_blog*/
}

/*Product page*/
.product-view-style-02,
.product-view-style-01,
.product-view-style-03{
	.main-inner,
	.product.info.detailed .product.items{
		.product-info-box(0px);
	}
}
.product-view-style-04 {
	.product-media-wrapper,
	.product-info-main {
		.product-left,
		.product-right{
			.product-info-box(0px); /*product view*/
		}
	}
	.product.info.detailed .product.items{
		.product-info-box(0); /*product view*/
	}
}

/*Product Detail*/
.block.crosssell,
.block.upsell,
.block.related{
	padding: 20px;
	background-color: @main_box_background;
	.abs-boxshadow(@main_box_shadow);	
	.abs-borderradius(@main_box_radius);	
}
.section-bottom{
	.block.crosssell{
		padding: 0;
		.abs-boxshadow(none);
	}
}
/*Header - Left Menu*/
@media (min-width: @tablet_vertical) {
	.header-vertical-menu-wrap .main-content-top-left {
		.cms-index-index .sticky-menu:not(.active) &{
			&:hover .menu-container{
				display: block;
			}
		}
	}
}
