.product-view-style-01{
	.product-media-wrapper{
		background: @main_box_background;
	}
	.product-main-wrapper{
		background: @main_box_background;
	}
	/*overview*/
	.overview .type{
		margin-bottom: 10px;
		display: block;

	}
	.product-info-price{
		position: relative;
	}
	.product-info-main {
		/*deal*/
		.product-inventory-deal .deal-item {
			margin: 5px 15px;
			&:after{
				font-size:20px;
			}
			span.value{
				font-size: 20px;
			}
		}
		/*price*/
		.price-box .price-wrapper .price{
			font-weight: 500
		}
	}
	&.rtl-layout {
		.product-main-wrapper {
			.product-right{
				margin-right: auto;
				margin-left: 0
			}
		}
	}
	/*product label*/
	.gallery-container .label-wrap{
		top: 10px;
		&.left{
            .cdz-product-labels{
                margin-left: 10px;
            }
            &.horizontal{
                top: 0px;
                left: 0 !important;
                .cdz-product-labels{
                    margin-left: 0px;
                }
            }
            
		}
		&.right{
			right:0;
		}
		.cdz-product-labels .label-item{
			min-width: 80px;
			font-size: 13px
		}
	}
	@media @tablet_vertical{
		.main-inner {
	    	display: flex;
	    	margin-bottom: 35px;
	    	overflow: hidden;
	    	padding: 0 !important;
		}
		.product-media-wrapper{
			padding: 0 20px;
			.product.media{
				padding: 20px 0
			}
		}
		.product-main-wrapper{
			display: flex;
			padding: 0;
			form{width: 100%}
			.product-info-main{
				height: 100%;
	    		display: flex;
	    		margin:0; 
			}
			.product-right{
				padding: 20px 20px;	
				background: #f7f7f7;
			}
			.product-left{
				padding: 20px 20px;				
			}	
			.product-info-main-inner .bundle-actions .action.primary{
				font-size: 14px;
    			padding: 7px 20px;
    		}
			.product-reviews-summary{
				margin: 0;	
				padding-bottom: 25px
			}	
		}
		.product-info-main .product-info-stock-sku{
			display: inline-block;
			width: auto;
			.stock{
				width: 100%;
				display: block;
				margin-bottom: 10px;
			}
		}
		/*static text*/
		.product-static-text {
			text-align: center;
		   /* position: absolute;
		    bottom: 20px;*/
		    width: 100%;
		    left: 0;
		    .logo {
			    margin: 0 auto;
	    		float: none;
			}
		}
	}	
	@media @tablet-strict_small{
		.main-inner{
			display: block;
            background: transparent !important;
            box-shadow: none !important;
            overflow: visible;
		}
		.product-media-wrapper,
		.product-main-wrapper{
			width: 100%;
            .abs-boxshadow(@main_box_shadow);
		}
        .product-media-wrapper {
            margin-bottom: 20px;
        }
		.product-static-text{
			position: static;
		}
        .product-media-wrapper .product.media {
            width: 55% !important;
            margin: 0 auto;
            float: none;
        }
	}
	@media @tablet_strict{
		.product-main-wrapper .product-left{
			//padding: 10px
		}
	}
	@media @phone{
		.main-inner{
			margin:0;
			margin-bottom: 30px;
			overflow: hidden;
		}
		.product-media-wrapper {
		    padding: 15px;
		}
		.product-static-text {
	        text-align: center;
		    border-top: 1px solid @main_border;
		    padding-top: 15px;
		    margin: 0 auto 20px;
		    .text{
		    	margin-bottom: 0
		    }
			.logo{
				float:none;
				margin:10px auto;
			}
		}
		
		/*price*/
		.product-reviews-summary{
			padding-bottom: 10px
		}
		/*rtl*/
		&.rtl-layout{
			.product-info-main {
				.product-info-stock-sku .attribute.sku{
					float: right;
				}
			}
		}
	}
    .box-tocart .field.qty #qty-error{width: 150px;}
}
