.post-list-style12 {
    @post_12_date_height: 23px;
    @post_12_pattern_color: @main_block_background;
    @post_12_text_color: @main_text_normal;
    .item-inner {
        border: 1px solid @main_border;
        box-shadow: 0px 2px 4px 1px #e2e2e2;
        margin-bottom: 10px;
        background: @post_12_pattern_color;
        padding: 15px;
    }
    .post-top{
        position: relative;
        background: #fff;
        .post-img:after{
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            transform: scale(0);
            opacity: 0;
            left: 0;
            top: 0;
            content: '';
            transition: all ease 400ms;
        }
    }
    .share-buttons{
        position: absolute;
        top: 15px;
        .flex_right(15px);
        background: #fff;
        padding: 0px 0px;
        overflow: hidden;
        transition: all ease 400ms;
        opacity: 0;
        visibility: hidden;
        > a {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            border-bottom: 1px solid @main_border;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .post-img img {
        transition: all ease 400ms;
    }
    .post-item:hover {
        .share-buttons{
            opacity: 1;
            visibility: visible;
        }
        .post-img img {
            transform: scale(1.1);
        }
        .post-img:after {
            opacity: 0.5;
            transform: scale(1);
        }
    }
    .post-header {
        position: relative;
        &:before {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 8px;
            background: @btn_primary_background;
            top: 0;
            .flex_left(0);
        }
    }
    .post-date{
        position: absolute;
        .flex_left(0);
        bottom: -10px;
        > span {
            padding: 0 10px;
            height: @post_12_date_height;
            line-height: @post_12_date_height;
            background: @post_12_pattern_color;
            color: @post_12_text_color;
            position: relative;
            display: block;
        }
        span:before{
            font-family: FontAwesome;
            content: "\f073";
            margin: 0 7px 0 0;
            font-size: 15px;
            display: inline-block;
            .rtl-layout &{
                margin: 0 0 0 7px;
            }
        }
        &:before{
            position: absolute;
            content: '';
            width: 100%;
            height: @post_12_date_height - 2px;
            background: lighten(@btn_primary_background, 20%);
            border-right: 10px solid @btn_primary_background;
            box-sizing: content-box;
            transform: skew(45deg);
            left: @post_12_date_height;
            .rtl-layout &{
                transform: skew(-45deg);
                .abs_right(@post_12_date_height);
                border-left: 10px solid @btn_primary_background;
                border-right: none;
            }
            top: 0;
        }
        &:after{
            position: absolute;
            content: '';
            width: @post_12_date_height;
            height: @post_12_date_height;
            .flex_right(-@post_12_date_height);
            top: 0;
            border: @post_12_date_height/2 solid transparent;
            border-bottom-color: @post_12_pattern_color;
            border-left-color: @post_12_pattern_color;
            .rtl-layout &{
                border-left-color: transparent;
                border-right-color: @post_12_pattern_color;
            }
        }
    }
    .post-bottom {
        padding-bottom: 10px;
    }
    .post-bottom-inner {
        padding: 25px 10px 0px 10px;
    }
    a.post-item-link{
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        display: inline-block;
    }
    .post-title{
        margin-bottom: 10px;
        .post-item-link{
            font: @f_h2;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    a.post-category {
        font-size: 13px;
        color: @main_title_text;
        margin-bottom: 5px;
        display: block
    }
    .post-author{
        margin-bottom: 5px;
    }
    .post-desc{
        color: @main_text_normal;
        font-size: 12px;
        //font-style: italic;
    }
    .more-link-wrap{
        position: relative;
        height: 0;
    }
    a.more-link{

    }
}