.product-list-style-18{
	.abs-product-hover-img(); /*hover*/
	.product-item {
		background: @main_box_background;	
		padding: 10px;
		margin-bottom: 0;
		&:hover{
			.qs-button {
				.abs-opacity(1);
			}
			.product-item-link:hover{
				color:@main_hover_text;
			}
		}
		.product-image-photo{
			width: auto;
			height: auto;
			margin: auto;
		}
	}
	.product-item-info{
		position: relative;
	}
	.product-item-top{
		position: relative;	
	}
	/*label*/
	.cdz-product-labels{
		left:auto;
		right:0;
		.rtl-layout &{
			left:0;
			right:auto;
		}
		.prolabels-style02();
	}
	.qs-button {
		position: absolute;
		position: absolute;
	    top: 40%;
	    z-index: 1;
	    left: 40%;
	    .abs-calc-left(~'calc((100% - 38px)/2)');
	    .abs-opacity(0);
	    &:before{
	    	line-height:36px;
	    }
	    span{
	    	display: none
	    }
	}
	.product-reviews-summary {
	  display: inline-block;
		margin-bottom: 0;
		.reviews-actions{
			display: none
		}
	}
	.product-item-sku{
		color:lighten(@main_productname_text, 30%);
	}
	.product-item-details{
		text-align: center;
		margin-bottom: 10px;
	}
	.price-box .old-price{
		float: none;
		margin:0 5px;
		.rtl-layout &{
			float: none
		}
	}
	.field.qty{
		width: 90px;
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
		.label{
			display: none
		}
		.control{
			border: 1px solid @main_border;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    overflow: hidden;
		    background: #ffffff;
		    height: 30px;		    
		    .abs-borderradius(@btn_radius);		    
		}
		input{
			height:30px;
			line-height: 30px;
		    padding: 0;
		    text-align: center;
		    border:0;
		    width: 30px;
		}
		.qty-ctl .decrease,
		.qty-ctl .increase{
    		min-width: 25px;
		    margin: 0;
		    border: 0;
		    padding: 0;
		    height: 30px;
		    line-height: 30px;
		    color:#000000;
		    font-size: 18px;
			font-weight: 400;
			cursor: pointer;
			display:inline-block;
			width: 20px;
		    .abs-borderradius(0);		    
		    &:focus,
		    &:active,
		    &:hover{
		    	background: transparent;
		    	color:@main_hover_text;
		    }
	    }
	    .qty-ctl{
	    	.decrease{
		    	.abs-borderradius(30px 0 0 30px);
		    	&:before{
		    		content:'-';			    		
		    	}
		    }
		    .increase{
		    	.abs-borderradius(0 30px 30px 0);
		    	&:before{
		    		content:'+';
		    	}
		    }
	    }
	}	
	.action.tocart{
		display: inline-block;
		vertical-align: top;
		min-width: 30px;
		.icon-style(30px);
		.abs-style(@btn_mobile_icon_text, @btn_mobile_icon_border, @btn_mobile_icon_background);
		.abs-borderradius(@btn_radius);
		.rtl-layout &{
			margin-right: 5px;
			margin-left:0;
		}
		&:before{
			.abs-iconfont2('\e9a4', 15px);
			line-height: 30px
		}
		span{display: none}
		&.unavailable{
			width: auto;
		    text-transform: capitalize;
		    font-weight: normal;
		    padding: 4px 20px;
		    height: auto;
		    display: inline-block;
		    float: none;
		    line-height: unset;
			span{
				display: inline-block;
			    font-size: 13px;
			    text-indent: 0;
			    overflow: visible;
			    line-height: 1.35;
			}
			&:before{
				display: none;
			}
		}
	}
	.button-top-wrap {
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    display: flex;
	    flex-direction: column;
	    .rtl-layout &{
	    	left:auto;
	    	right:0;
	    }
	    > .action{
	    	color:@main_text_normal;
	    	margin-bottom: 5px;
	    	span{display: none}
			&:hover:before{
				color:@btn_icon_background;
			}
	    }	    
	}
	.tocompare:before{
    	.abs-iconfont('\f074', 14px)
    }
	.products.list.items .towishlist{
		&:before{
		    .abs-iconfont('\f004', 14px);
		    color:@main_text_normal;
		    padding: 1px
		}
	    &:hover:before{
	    	color:@btn_icon_background;
	    }
	}
	.products.list.items .product-extra-buttons .action.towishlist > span{
		width: auto;
	    height: auto;
	    position: static;
	}
}
/*product list*/
.products.list {
	.product-item .product-item-actions {
		.actions-secondary>.action{
			border:1px solid;
			.abs-style(@btn_icon_text, @btn_icon_border,@btn_icon_background);
			margin-right:5px;
			.rtl-layout &{
				margin-left:5px;
				margin-right:0;
			}
			&:hover{
				.abs-style(@btn_icon_hover_text, @btn_icon_hover_border, @btn_icon_hover_background);
				&:after{
					animation: unset;
				}
			}
		}
		.actions-primary + .actions-secondary{
			padding-left: 2px;
		}
	}
}
@media @phone{
	.product-list-style-18 {
		.product-extra-buttons .action{font-size: 10px}
		.action.tocart{
			font-size: 10px;
			margin-left: 5px;
			.abs-style(@btn_mobile_icon_text, @btn_mobile_icon_border, @btn_mobile_icon_background);
			.rtl-layout &{
				margin-left: 0;
				margin-right:5px;
			}
		}
		.product-extra-buttons{padding: 0 10px}
		.field.qty {
			width: 80px;
		}
		.button-wrap {
			margin-top: 15px;
			form{
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

