@padding-icon: 45px;
@pos-qty: 30px;
/*Drug , Fashion accessories*/
@media @tablet_vertical {
	.page-header{
		.panel.wrapper{border: 0;}
		/*Wishlist*/
		#top-wishlist:before{
			.abs-iconfont('\f004', 15px);
			width: 32px;
		    height: 32px;
		    line-height: 32px;
		}
		.minicart-wrapper .action.showcart:before{
			.abs-iconfont2('\e992', 24px);
			width: 32px;
			height: 32px;
			line-height: 29px;
			.abs-borderradius(100%);
			margin-right: 0;
			text-align: center;
			color: @header_cart_icon;
			display: inline-block;
			vertical-align: middle;
		}
		.features-links{
			display: inline-block;
			text-align: center;
			vertical-align: top;
			margin: 24px 0;
			> li{
				padding: 5px 10px;
				display: inline-block;
				vertical-align: top;			
			}
		}	
		.action.showcart .counter.qty,
		#top-wishlist .counter.qty{
			display: inline-block;
			width: auto;
			height: 22px;
			min-width: 22px;
			line-height: 22px;
			font-size: 11px;
			font-weight: 600;
			vertical-align: middle;
			margin: 0;
			.abs-borderradius(100%);
			.abs-allstyle(#414b56, @header_cart_quality_background);
		}	
		.switcher-language {
			display: inline-block;
	    margin: 24px 0;
	    img{
	    	margin-top: -2px
	    }
		}
		.minicart-wrapper .action.showcart{
			&:before{
				color:@header_text;
			}
			&:hover:before{
				color:@header_hover_text;
			}
		}
		.sticky-menu.active{
			.store-language-currency{display: none}
		}
		.sticky-menu:not(.active){
			background-color: @header_background;
			color: @header_text;
			background:@header_background url(@header_background_file) @header_background_image_option;
			.header.panel{
				.abs-boxshadow(@header_shadow);
				.abs-borderradius(5px);
				background: @header_top_background;
				margin-top: 20px;
				padding: 0;
			}
			.logo{
				margin: 0px 20px 0;
				max-width: 100%;
				.rtl-layout &{
					float: right
				}
			}
			.header-panel-bottom{		
				border-top: 1px solid @header_border;
				background:@menu_background;
				position: relative;
				padding: 0;		
			}
			/*Header left*/
			.header-panel-left{
				display: flex;
				align-items: center;
				padding:0;
				.utilies-toggle-wrap {
					border-right:1px solid @header_border;
					min-height: 90px;
					min-width: 105px;
					justify-content: center;
					align-items: center;
					display: flex;
					.rtl-layout &{
						border-right: 0;
						border-left:1px solid @header_border;
					}
				}
				/*Icon Header Panel*/
				.utilies-toggle-btn{
					width: 32px;
					height: 32px;
					line-height: 32px;
					min-width: 32px;
					background: transparent;
					padding: 0;
					margin: 0;
					border: 0;
					z-index: 1;
					.abs-boxshadow(none);
					&:after{
						.abs-iconfont2('\e9b1', 17px);
						color: @header_text;
						line-height: 32px;
					}
					&:hover:after{
						color: @header_hover_text;
					}
				}
			}
			.header-panel-right{
				text-align: right;
				display: flex;
                justify-content: flex-end;
                align-items: center;
				.rtl-layout &{
					text-align: left;
				}
				.options ul.dropdown{
					text-align: left;
					.rtl-layout &{
						text-align: right;
					}
				}
			}
			/*Account*/
			.authorization-style-01{
				text-align: center;
				position: relative;	
				.account-trigger span{
					display: block;
					font-size: 11px;
					&.text-uppercase{
						text-transform: uppercase;
						font-weight: 600;
					}
					&.text-underlink{
						text-transform: uppercase;
						color: lighten(@header_text, 30%);
						display: none;
					}
				}				
				.account-trigger{
				    border: 2px solid @header_text;
					display: block;
					padding: 7px 15px 5px;
					.abs-borderradius(30px);
					/*.abs-transition();*/
					&:hover{
						text-decoration:none;
						color: @header_hover_text;
						border-color: @header_hover_text; 
					}
				}
				.rtl-layout &{
					margin-right: 0;
					.account-trigger:before{
						right: -45px;
						left:auto;
					}
				}
			}
			/*Cart*/
			.minicart-wrapper{
				margin-left: 0;
				.action.showcart{
					font-size: 11px;
					position: relative;
					color: @header_text;
					vertical-align: middle;
					display: flex;
		    		align-items: center;
					.text{
						display: none;
						width: auto;
						height: auto;
						clip: unset;
						position: static;
						text-transform: uppercase;
						color: lighten(@header_text, 30%);
					}
					.cart-subtotal {
						color: @header_text;
						font-weight: 600;
						display: inline-block;
						vertical-align: middle;	
						margin-right: 10px;
						.rtl-layout &{
							margin-right: 0;
							margin-left: 10px;
						}
					}
					span{
						display: block;
						font-size: 11px;
						&.price{
							font-size: 14px;
						}
					}
					&:hover{
						span.text,
						span.cart-subtotal{
							color:@header_hover_text;
						}
					}
					.rtl-layout &{
						&:before{
							right: -45px;
							left:auto
						}
						.counter.qty{
							right:-12px;
							left:auto
						}
					}
				}
			}
		}
		.action.showcart .counter.qty,
		.counter.qty{
			position: static;
		}
	}
	.page-header{

		/*Menu*/
		.menu-icon .groupmenu li.level0 > a.menu-link .menu-icon{
			display: block;
			text-align: center;
			font-size: 30px;
			margin-bottom: 10px;
		}
		.cdz-horizontal-menu.cdz-translate li.level0 > .groupmenu-drop{
			top: ~'calc(100%)';
		}
		.header-menu-wrap{
			/*padding: 0;*/			
		}
		.cdz-horizontal-menu .groupmenu{
			vertical-align: top;
			background-color: @menu_background;
			.abs-borderradius(3px);
			&:not(.animated) li.level0:hover > a.menu-link{
				.abs-allstyle(@menu_hover_text, @menu_border, @menu_hover_background, @menu_font);
				&:before{
					width:98%;
					background-color: @menu_hover_text;
				}
			}
			li.level0{
				> a.menu-link{
					.abs-link(@menu_text, @menu_hover_text);
					.abs-allstyle(@menu_text, @menu_border, @menu_background, @menu_font);
					padding: 15px 20px 16px;
					border-right:1px solid @menu_border;
					position: relative;
					&:before{
						width:0;
						height: 3px;
						top:2px;
						left: 3px;
						.abs-transition();
						content: "";
						background-color:@menu_text;
						position: absolute;
					}
				}
				&:last-child > a.menu-link{
					border-right:0;
				}
				&:first-child > a.menu-link{
					.abs-borderradius(3px 0 0 3px);
				}
				&.parent > a.menu-link:after{
					.abs-iconfont('\f107', 13px);
					margin: 0 5px;
					line-height: 1
				}
			}
		}
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		.page-header .header-panel-left .utilies-toggle-wrap{
			padding: 5%;
		}
	}
}
.static-wrap.has-items-overflowed{
	align-items: center;
}
// Header Mobile
//----------------------------
//-----------------------------
@media @phone{
	.page-header{
		.logo{
			margin-top: 13px;
		}
		&:after{
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 10px;
			left:0;
			content: '';
			.abs-boxshadow(0px 5px 10px #eae9e9);
		}	
		.panel.wrapper .panel.header {
		    padding: 0;
		}
		.header-panel-left {
		    text-align: center;
		}
		.header-panel-bottom{
			position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            text-align: center;
		    .rtl-layout &{
		    	left: 0;
		    	right: auto;
		    }
		}
	}
}

/* ============================================ *
 * Codazon_Header-Sticky
 * ============================================ */
@media @tablet_vertical {
	.page-header{
		.sticky-menu.active{
			.switcher-language{
				display: none;
			}
			.header-panel-bottom{
				padding: 0 200px 0 0;
				border: 0;
				.rtl-layout &{
					padding: 0 0 0 200px;
				}
			}
			.header.panel{
				.abs-boxshadow(none);
			}
			.header-menu-wrap{
				width: 100%;
			}
			.minicart-wrapper{
				margin-left: 0;
				.rtl-layout &{
					margin-left: 0;
				}
			}
			.header-panel-left{
				display: none;
				position: absolute;
				top: 10px;
				left: 0;
				width: 150px;
				.rtl-layout &{
					right: 0;
					left: auto;
				}
				.logo{
					margin: 0;
				}
				.utilies-toggle-wrap{
					min-height: inherit;
					min-width: inherit;
				}
			}
			.hp-right-top{
				display: none;
			}
			.header-panel-right{
				position: absolute;
				top: 10px;
				right: 0;
				z-index: 1;
				width: auto;
				.rtl-layout &{
					right: auto;
					left: 0;
					top:8px;
				}
				.features-links{
					margin: 0;
				}
				#top-wishlist{
					color: @menu_text;
					&:before{
						font-size: 20px;
					}
					&:hover{
						color: @menu_hover_text;
					}
					.label{
						display: none;
					}
				}
				#top-wishlist{
					position: relative;
					.counter.qty{
						left: 20px;
    					top: -15px;
    					position: absolute;
    					.rtl-layout &{
    						right:30px;
    						left:auto;
    					}
					}
				}
				.authorization-link .account-trigger{
					border: 0;
					padding: 0;
					display: inline-block;
					vertical-align: top;
					&:hover{
						text-decoration: none;
						span.text-uppercase:before{ 
							color: @menu_hover_text;	
						}
					}
					span.text-underlink{ display: none;}
					span.text-uppercase{ 
						font-size: 0;
						&:before{
							.abs-iconfont2('\e9ab', 24px);
							color: @menu_text;
							line-height: 32px;
						}
					}
				}
				.minicart-wrapper .action.showcart{
					&:before{
						color: @menu_text;
						font-size: 22px;
					}
					.text,
					.cart-subtotal{
						display: none;
					}
					.counter.qty{
						position: absolute;
						left: 20px;
						top:-10px;
						.rtl-layout &{
							right: -10px;
							left: auto;
						}
					}
					&:hover:before{
						color: @menu_hover_text;
					}
				}
			}
		}
	}
}
@media @phone{
	.page-header {
		.sticky-menu.active{
			background: @header_mobile_background;
			.header.panel{
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.mobi-cart-wrapper{
			.rtl-layout &{
				left:10px;
				right:auto
			}
		}
        .header-menu-wrap {
            display: none;
        }
	}
}
/*-- Search style 02 --*/
.search-box-style-02();
/*-- End Search style 02 --*/