/*Fashion megastore*/

.banner-style05 .cdz-banner {
    position: relative;
    .cdz-banner-desc {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 30px 50px;
        display: flex;
        align-items: center;
        color: #ffffff;
        .title {
            font-size: 34px;
            font-weight: 600;
            margin-bottom: 0
        }
        .actions {
            margin-left: auto;
            margin-right: 10%;
            .rtl-layout & {
                margin-left: 10%;
                margin-right: auto;
            }
        }
        .action.primary {
            padding: 10px 40px;
            font-weight: 600;
            white-space: nowrap;
            .abs-borderradius(0);
            .abs-style(#000000, #ffffff, #ffffff);
            &:hover {
                .abs-style(@btn_primary_text, @btn_primary_border, @btn_primary_background);
            }
        }
        @media @tablet-strict_large {
            .title {
                font-size: 20px
            }
            .actions {
                margin-right: 5%;
            }
        }
        @media @phone {
            padding: 15px;
            .title {
                font-size: 14px
            }
            .actions {
                margin-right: 0;
            }
            .action.primary {
                font-size: 12px;
                padding: 5px 15px;
            }
        }
    }
    .desc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #ffffff;
        padding: 30px 10%;
        .h1 {
            color: #ffffff;
        }
    }
}