@h15_ver_menu_title_background: @header_search_button_background;
@h15_ver_menu_title_color: @header_search_button_text;
@h15_ver_menu_title_border: @header_search_button_background;

.search-box-style-11();
[class*="vertcial-menu-container"] .menu-title {
    text-transform: uppercase;
    color: @h15_ver_menu_title_color;
    background: @h15_ver_menu_title_background;
    border: 1px solid @h15_ver_menu_title_border;
    min-height: 38px;
    display: flex;
    align-items: center;
    padding: 10px;
    font: @menu_font;
    &:before {
        font-size: 19px;
        font-family: CodazonFont;
        content: '\e9b1';
        font-weight: normal;
        display: inline-block;
        margin: 0 14px 0 0;
        .rtl-layout & {
            margin: 0 0 0 14px;
        }
    }
}

@media @tablet_vertical {
    /* Vertical menu */
    .desk-vertcial-menu-container {
        position: relative;
        .cdz-vertical-menu {
            display: none;
        }
        &:hover {
            .menu-title {
                cursor: pointer;
            }
            .cdz-vertical-menu {
                display: block;
                min-width: 340px;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                z-index: 10;
            }
        }
    }
    .cms-index-index & {
        .page-header {
            .sticky-menu:not(.active) {
                .cdz-vertical-menu {
                    display: none;
                }
            }
        }
    }
    .cdz-vertical-menu .item.level0 {
        border: none;
        margin-bottom: 0;
    }
    .cdz-vertical-menu > .groupmenu {
        border: 1px solid @vermenu_border;
    }
    .cdz-vertical-menu .item.level0 > a.menu-link .menu-icon+span {
        border-left-width: 0;
        padding-left: 0;
        .rtl-layout &{
            border-right-width: 0;
            border-left-width: 1px;
            padding-right: 0;
            padding-left: 10px;
        }
    }
    
    .sticky-menu.active {
        .header-vertical-menu-wrap {
            width: 50px;
            .menu-title {
                font-size: 0;
                margin-top: -6px;
                min-height: 43px;
                background-color: @header_background;
                color: @header_text;
                border-color: @header_background;
                &:before {
                    width: 100%;
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
    /* End vertical menu */
    
    
    .page-header {
        background-color: @header_background;
        margin-bottom: 20px;
        .header-top .switcher .options ul.dropdown a {
            color: #000;
        }
        a.action.skip.contentarea {
            display: none;
        }
        .header-panel-row {
            display: flex;
            align-items: center;
        }
        .sticky-menu{
            width: 100%;
            padding: 0;
        }
        .logo {
            margin: 0;
            img{
                max-height: 100px;
            }
            .rtl-layout &{
                margin: 0 0 0 15px;
            }
        }
        .header-top-links {
            > a {
                margin: 0 10px 0 0;
                .rtl-layout & {
                    margin: 0 0 0 10px;
                }
            }
        }
        .icon-link {
            display: inline-block;
            &:before{
                font-family: FontAwesome;
                margin: 0 5px 0 0;
                display: inline-block;
                font-size: 14px;
                .rtl-layout & {
                    margin: 0 0 0 5px;
                }
            }
        }
        .header-middle {
            background: transparent;
            padding: 0;
            color: @header_text;
            a{
                color: @header_text;
                &:hover{
                    color: @header_hover_text;
                }
            }
            .header-panel-container {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .category-chooser {
                a{
                    color: @header_drop_text;
                    &:hover{
                        color: @header_drop_hover_text;
                    }
                }
            }
            .header.panel{
                padding: 0;
            }
        }
        .header-panel-left{
            display: flex;
            align-items: center;
        }
        
        //Header Bottom
        .sticky-menu:not(.active) {
            .block-search {
                box-shadow: rgba(98, 98, 98, 0.5) 0px 1px 2px 0px;
            }
            .features-links > li {
                position: relative;
            }
            /* .features-links > li:not(:last-child):after {
                content: '';
                position: absolute;
                width: 0;
                height: 100%;
                display: block;
                top: 0px;
                right: 0px;
                opacity: 0.7;
                border-left: 1px dashed @header_cart_icon;
            } */
        }
        .social-wrap a {
            width: auto;
            padding: 0;
            .fa{
                font-size: 16px;
            }
        }
        .header-bottom {
            .social-wrap {
                margin: 0 20px 0 0;
                .rtl-layout & {
                    margin: 0 0 0 20px;
                }
            }
            background-color: @menu_background;
            .switcher-trigger > a, a.switcher-trigger, .switcher-trigger {
                color: @menu_text;
                &:hover{
                    color: @menu_hover_text;
                }
            }
            
            .cdz-fix-left {
                display: flex;
                align-items: center;
            }
            .switcher .options {
                display: block;
                .action.toggle > span {
                    width: auto;
                    height: auto;
                    clip: auto;
                    position: relative;
                }
                img.lang-img {
                    margin: 0 3px 0 0;
                    .rtl-layout & {
                        margin: 0 0 0 3px;
                    }
                }
            }
            .switcher .switcher-trigger a img{
                display: none;
            }
            .switcher .options .action.toggle:after{
                display: none !important;
            }
            .switcher{
                margin: 0 10px 0 0;
                .rtl-layout & {
                    margin: 0 0 0 10px;
                }
                .options ul.dropdown{
                    min-width: 100px;
                    &:before {
                        .rtl-layout & {
                            left: auto;
                            right: 10px;
                        }
                    }
                }
            }
            .switcher-currency{
                .action.toggle{
                    &:after, .name{
                        display: none !important;
                    }
                    padding: 0 0 0 11px;
                    border-left: 1px solid @menu_text;
                    .rtl-layout &{
                        padding: 0 11px 0 0;
                        border-left: none;
                        border-right: 1px solid @menu_text;
                    }
                }
            }
            .header-bottom-right > .inner > *:last-child {
                margin: 0;
            }
        }
        //End Header Bottom
        
        /* Featured Links Style */
        .features-links{
            float: right;
            .rtl-layout & {
                float: left;
            }
            > li{
                display: inline-block;
                margin: 0 0 0 0;
                .rtl-layout & {
                    margin: 0 0 0 0;
                }
                &:last-child{
                    margin: 0;
                }
                #top-wishlist, .account-wrapper {
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .authorization-link .account-trigger > span.text-underlink,
            .minicart-wrapper .action.showcart .cart-subtotal
            {
                display: none;
            }
            #top-wishlist .label,
            .authorization-link .account-trigger > span.text-uppercase,
            .minicart-wrapper .action.showcart > span.text {
                display: inline-block;
                font-size: 11px;
                text-transform: capitalize;
                width: 100%;
                height: auto;
                clip: auto;
                position: relative;
                margin: 0;
                padding: 0;
                margin-top: 5px;
            }
            #top-wishlist,
            .authorization-link .account-trigger,
            .minicart-wrapper .action.showcart{
                text-align: center;
                white-space: normal;
                &:before{
                    font-family: CodazonFont;
                    content: "\E98B";
                    font-size: 28px;
                    line-height: 36px;
                    color: @header_cart_icon;
                    display: inline-block;
                    width: 100%;
                }
                &:hover:before{
                    color: @header_hover_text;
                }
            }
            .minicart-wrapper .action.showcart:before{
                content: "\E9A7";
            }
            .authorization-link .account-trigger:before{
                content: "\E9AA";
            }
            .minicart-wrapper{
                float: none;
                margin: 0;
                position: relative;
            }
        }
        .minicart-wrapper .action.showcart .counter.qty, .features-links #top-wishlist .counter.qty{
            border-radius: 8px;
            height: 18px;
            min-width: 18px;
            line-height: 18px;
            font-size: 11px;
            padding: 0 2px;
            text-align: center;
            width: auto;
            position: absolute;
            right: ~'calc(50% - 30px)';
            top: -10px;
            background: @header_cart_quality_background;
            color: @header_cart_text;
            &:empty {
                display: none;
            }
            .rtl-layout & {
                right: auto;
                left: ~'calc(50% - 23px)';
            }
        }
        .store-info-top {
            display: inline-block;
        }
        .header-panel-center {
            z-index: 11;
        }
        .searchsuite-autocomplete .product ul li .qs-option-title a {
            color: darken(@header_drop_text, 10%);
        }
        //Begin sticky menu active
        .sticky-menu.active {
            //Hide unneccessary elements
            .header-top,
            .header-panel-left,
            .header-bottom-right,
            #top-wishlist .label,
            .authorization-link .account-trigger > span.text-uppercase,
            .minicart-wrapper .action.showcart > span.text{
                display: none;
            }
            
            .header-middle{
                margin-top: 0;
            }
            .header-bottom{
                padding-top: 5px;
            }
            .header-panel-container, .panel.header{
                padding-top: 0;
                padding-bottom: 0;
                margin-top:0;
                margin-bottom: 0;
            }
            .header-panel-center{
                position: absolute;
                right: 137px;
                top: 9px;
                width: auto;
                .rtl-layout & {
                    right: auto; left: 137px;
                }
            }
            .header-panel-right{
                position: absolute;
                top: 7px;
                right: 0;
                .rtl-layout & {
                    left: 0; right: auto;
                }
            }
            .header-search .actions .search,
            .features-links #top-wishlist,
            .features-links .authorization-link .account-trigger,
            .features-links .minicart-wrapper .action.showcart{
                &:before{
                    color: @menu_text;
                    font-size: 23px;
                }
                &:hover:before{
                    color: @menu_hover_text;
                }
            }
            .features-links > li{
                margin: 0 15px 0 0;
                .rtl-layout & {
                    margin: 0 0 0 15px;
                }
            }
            .minicart-wrapper .action.showcart .counter.qty, .features-links #top-wishlist .counter.qty {
                top: -6px;
                height: 16px;
                min-width: 16px;
                line-height: 16px;
            }
            .col-sm-18.header-menu-wrap {
                max-width: ~'calc(100% - 250px)';
            }
        }
        &:not(.sksnhv) .sticky-menu.active {
            .header-search .actions .search:before {
                font-size: 23px;
            }
        }
        //End sticky menu active
    }
    
}
@media @general_tablet {
    .page-header {
        .header-top-right {
            .switcher-language, .switcher-currency, .switcher-store{
                display: none;
            }
        }
    }
    .page-header .features-links #top-wishlist .label, .page-header .features-links .authorization-link .account-trigger>span.text-uppercase, .page-header .features-links .minicart-wrapper .action.showcart>span.text {
        display: none;
    }
    .page-header .features-links > li,
    .page-header .features-links>li:last-child,
    .rtl-layout .page-header .features-links > li{
        margin: 0 10px;
    }
}
@media @phone {
    .header-panel-left{
        position: relative;
        > * {
            display: none;
        }
        .nav-toggle{
            display: block;
            position: absolute;
            left: 0;
            .rtl-layout & {
                right: 0; left: auto;
            }
            top: 6px;
        }
        .logo {
            display: block;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
    .page-header {
        .header-bottom{
            display: none;
        }
    }
    .mobi-vertcial-menu-container {
        .menu-title {
            
        }
    }
    .cdz-vertical-menu .item.level0 > a.menu-link .menu-icon {
        min-width: 27px;
    }
}