/*Furniture*/
.cms-index-index .column.main{
	padding: 0
}
/*Title*/
.cdz-block-title {
    text-align: center;
    position: relative;
    margin-bottom: 35px;
    .h1{
    	font-weight: 400;
    	letter-spacing: 2px
    }
    .b-title span{
    	position: relative;
    	padding-bottom: 5px;
    	&:after{
	    	position: absolute;
	    	content: "";
	    	width: 100px;
	    	height: 2px;
	    	background: @main_title_text;
	    	bottom:0;
	    	.abs-calc-left(~'(100% - 100px)/2')
	    }
    }    
}
@media @phone{
	.cdz-block-title {
		margin-bottom: 20px !important;
	}
}
.brand-style01 .shop-by-brand-slider {
	padding: 20px;
	background: #f9f9f9;
	.owl-nav{
		position: static;
	}
}

@media @tablet_strict{
	.instagram-wrapper .cdz-block-title{
		margin-bottom: 0;
		.title-desc{
			margin-bottom: 0
		}
	}
}
@media @phone{
	.instagram-wrapper{
		.owl-nav{display: none}
		.cdz-block-title{
			margin-bottom: 15px
		}
	}
}

.list.products-list{
	.cdz-product-labels{
		.prolabels-style05();
	}
}
[class*='brand-style']{
	.shop-by-brand-slider.style-default{
		overflow: hidden;
		.slider-arrow-style-05();		
		&:hover{
			.owl-nav [class*='owl-']{
				.abs-style( @btn_primary_text, @btn_primary_border, @btn_primary_background);
				&:hover{
				 	.abs-style(@btn_primary_background, @btn_primary_border, @btn_primary_text );
				}
			}
		}
	}
}
/*Blog*/
.blog-index-index .sidebar .block{
    &.blog-search {
    	padding: 8px 15px 5px;
		border: 1px solid @main_border;
    	.block-content{
    		padding-top:0;
    	}
    }
}


/*Category*/
.sidebar .block:not(.account-nav){
	.block-style01();	
	padding: 0;
}
.toolbar-blog-posts,
.toolbar-products{
	.toolbar-option2();
}
/*category - product list*/
.list.products-list{
	.item.product-item{
		.toolbar-option2(0px);
	}
}

/*My account*/
.account-nav{
	.content{
		.toolbar-option2(0px);
		padding: 0;
	}
}
/*Blog*/
.post-list .post-holder,
.post-view .post-holder{
	.blog-box(1px); /*_blog*/
}
/*Product page*/
.product-view-style-02,
.product-view-style-01,
.product-view-style-03{
	.main-inner,
	.product.info.detailed .product.items{
		.product-info-box(1px);
	}
}
.product-view-style-04 {
	.product-media-wrapper,
	.product-info-main {
		.product-left{
			.product-info-box(0px);
		}
		.product-right{
			.product-info-box(1px);
		}
	}
	.product.info.detailed .product.items{
		.product-info-box(0px);
	}
}

/*Header - Left Menu*/
@media @tablet_vertical {
	.header-vertical-menu-wrap{
		.main-content-top-left {
			.cms-index-index .sticky-menu:not(.active) &{
				&:hover{
					.menu-container{
						display: block;
					}
				}
			}
		}
	}
}