/* ============================================ *
 * Codazon_Header-Sticky
 * ============================================ */
.page-header .sticky-menu.active{
	.abs-boxshadow(0 0 5px #bdbdbd);
	width: 100%;
	max-width: 100% !important;
	top: 0;
	left: 0;
	right: 0;
	z-index: 880;
	margin: 0 auto;
	padding: 0;
	position: fixed !important;
	background-color: @menu_background;
    @media @tablet_vertical{
        -webkit-animation-name: fadeInDown;
        -webkit-animation-duration: 5.0s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: anim_titles;
        -moz-animation-duration: 5.0s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: normal;
        -moz-animation-play-state: running;
        -moz-animation-fill-mode: forwards;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -webkit-animation-duration: 0.7s;
        -moz-animation-duration: 0.7s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
    }
	.header.panel{
		.abs-borderradius(0);
		@media @tablet_vertical{
            padding-top: 5px;
            padding-bottom: 5px;
		}
        margin: 0;
		.header-panel-bottom{
			margin: 0;
		}
	}
	
	.cdz-dropdown .cdz-dd-content{
		top:100%;
	}
	.cdz-vertical-menu .groupmenu {
		margin-bottom: 0;
	}
}
@media @tablet_vertical{
	.page-header .sticky-menu.active{
		.header-panel-bottom{
			padding: 0 250px 0 0;
			border: 0;
		}
		.logo{
			display: none;
		}
	}
}
@media @phone{
	.page-header .sticky-menu.active{
		padding: 0 10px;
		background-color: @header_mobile_background;
		color: @header_mobile_icon;
		background: @header_mobile_background url(@header_background_file) @header_background_image_option;
		min-height: @mobile_sticky_min_height;
	}	
}
