<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div if="hasData()"
     class="block" data-bind="css: (displayMode == 'grid') ? 'upsell ' + additionalClasses: additionalClasses">
    <div class="block-title">
        <strong role="heading"
                aria-level="2"
                text="label"/>
    </div>
    <div class="block-content">
        <div css="'product-' + displayMode + '-container'">
            <div data-bind="css: (displayMode == 'grid') ? 'products-grid product-list-style-17':displayMode + ' products-' + displayMode">
                <ol class="product-items flex-grid row">
                    <li class="item product-item" data-bind="css: (displayMode == 'grid')?'col-sm-6 col-md-4 col-xs-12':''" repeat="foreach: filteredRows, item: '$row'">
                        <div class="product-item-info">
                            <div class="product-item-top">
                            <fastForEach args="data: getRegion('general-area'), as: '$col'" >
                                <render args="$col.getBody()"/>
                            </fastForEach>
                            </div>

                            <div class="product-item-details">
                                <fastForEach args="data: getRegion('details-area'), as: '$col'" >
                                    <render args="$col.getBody()"/>
                                </fastForEach>

                                <div if="getRegion('action-primary-area')().length || getRegion('action-secondary-area')().length"
                                     class="product-item-actions" data-bind="css: (displayMode == 'grid') ? 'button-hover-wrap':''">
                                    <div class="actions-primary no-slide" if="getRegion('action-primary-area')().length">
                                        <fastForEach args="data: getRegion('action-primary-area'), as: '$col'" >
                                            <render args="$col.getBody()"/>
                                        </fastForEach>
                                    </div>

                                    <div if="getRegion('action-secondary-area')().length"
                                         class="actions-secondary"
                                         data-role="add-to-links">
                                        <fastForEach args="data: getRegion('action-secondary-area'), as: '$col'" >
                                            <render args="$col.getBody()"/>
                                        </fastForEach>
                                    </div>
                                </div>

                                <div if="getRegion('description-area')().length"
                                     class="product-item-description">
                                    <fastForEach args="data: getRegion('description-area'), as: '$col'" >
                                        <render args="$col.getBody()"/>
                                    </fastForEach>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>