/*Furniture*/
@media @tablet_vertical {
	.page-header {
		> .container{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		.header.panel{
			padding: 0;
		}
		ul, ol{
			list-style: none;
			padding: 0;
			margin:0;
		}
		.action.showcart{
			&:before{
				.abs-iconfont2("\e9a6", 30px);
			}
			.counter.qty {
			    position: absolute;
			    top: -15px;
			    left: 20px;
			    border-radius: 100%;
			    min-width: 20px;
			    min-height: 20px;
			    line-height: 20px;
			    height: 20px;
			}
		}
		.acount-menu .account-menu-items li .switcher {
		    width: 100%;
		}
		.switcher .options ul.dropdown{
			.rtl-layout &{
				&:after,
				&:before{
					right: 9px;
					left: auto;
				}
			}
		}
		.header-panel-center{
			padding: 0
		}		
	}
	/*Whislist*/
	#top-wishlist{
		.counter.qty{
			position: relative;
			&:before{
				content:"(";
			}
			&:after{
				content: ")"
			}
		}
	}
	
	.page-header .sticky-menu:not(.active){
		background-color: @header_background;
		color: @header_text;
		background:@header_background url(@header_background_file) @header_background_image_option;
		.logo {
		    margin: 0;
		    max-width: 100%;
		    .rtl-layout &{
		    	float: right
		    }
		}		
		/*Header Top*/
		.header-top{
			background: @header_top_background;
			border-bottom:1px solid @header_border;
			padding: 0;
			a{
				.abs-transition();
				.abs-link(@header_top_text,@header_hover_text);
			}
		}
		.header-top-panel {
		    padding-top: 5px;
		    padding-bottom: 3px;
		}
		.switcher .options ul.dropdown li:hover{
			background: transparent;
		}
		/*Header top left*/
		.header-extra-links li{
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 0;
			.rtl-layout &{
				margin-right: 0;
				margin-left: 10px;
			}
		}
		.link.wishlist .cdz-dropdown .block-content{
			padding: 0;
			.md-block{
				margin-bottom:10px;
			}
		}
		/*Header top right*/
		.header-middle .header-panel-right{
			min-width: 370px;
		}
		.header-panel-right{
			float: right;
			text-align: right;
			.rtl-layout &{
				float: left;
				text-align: left;
			}
			.features-links{
				display: inline-block;
			}		
			.features-links,
			.switcher{
				float: right;
				text-align: left;
				.rtl-layout &{
					float: left;
					text-align: right;
				}
			}
			.features-links > li,
			> .switcher{
				display: inline-block;
				margin-left: 10px;
				margin-right: 0;
				.rtl-layout &{
					margin-right: 10px;
					margin-left: 0;
				}
			}
			.switcher .options {
				.action.toggle > span,
				.action.toggle.active > span{
					width: auto;
				    position: static;
				    margin: 0;
				}
			}
		}
		.authorization-link{
			.text-underlink{
				display: none;
			}
			.text-uppercase{
				text-transform: capitalize;
			}
		}
		/*Header Middle*/
		.header-middle .header{
			padding: 30px 0;
		}
		/*Header right*/
		.hot-line-wrapper{
			display: inline-block;
			vertical-align: top;
    		padding-left: 40px;
    		position: relative;
			text-align: left;
			float: left;
    		.rtl-layout &{
    			padding-left: 0;
    			padding-right: 40px;
				text-align: right;
				float: right;
    		}
    		&:before{
    			width: 35px;
    			height: 35px;
    			text-align: center;
    			position: absolute;
			    top: 0;
			    left: 0;
			    color:#a1a1a1;
    			border:1px solid @header_text;
    			.abs-borderradius(100%);
    			.abs-iconfont("\f095", 18px);
    			line-height: 35px;
    			.rtl-layout &{
					right:0;
					left:auto;
				}
    		}
			.msg-text {
			    display: block;
			    font-size: 12px;
			    color: #a1a1a1;
			    font-weight: bold;
			}
			.telephone{
				font-size: 15px;
				letter-spacing: 2px;
			}
		}
		/*Header cart*/
		.minicart-wrapper{
			padding-left: 40px;
			vertical-align: top;
			display: inline-block;
			text-align: left;
			float: right;
			.rtl-layout &{
    			padding-left: 0;
    			padding-right: 40px;
				margin-left: 0;
				margin-right: 20px;
				text-align: right;
				float: left;
    		}
    		.cdz-dropdown{
				position: static;
			}
			.action.showcart{
				&:before{
					position: absolute;
					top:0;
					left: 0;
					.rtl-layout &{
						right:0;
						left:auto;
					}
				}
				.text{
					font-size: 12px;
				    color: #a1a1a1;
				    font-weight: bold;
					width: auto;
				    position: static;
				    margin: 0;
				}
				.cart-subtotal {
				    display: block;
				    font-size: 14px;
    				letter-spacing: 2px;
    				color:@header_cart_text;
				}
				.counter.qty {
				    .rtl-layout &{
				    	right: -10px;
					    left: auto;
					    top: -10px;
				    }
				}
			}
		}
		/*Header bottom*/
		.header-bottom{
			background: @menu_background
		}		
	}
	.cdz-horizontal-menu .groupmenu li.level0 > a.menu-link {
		padding: 11px 20px;
	}
}
@media @tablet-strict_small{
	.page-header {
		.sticky-menu:not(.active) {
			.header-middle .header{
				padding-bottom: 15px;
			}
			.header-middle .header-panel-right{
				margin-top: 25px;
				max-width: 400px;
			}
			.header-panel-center{
				padding: 0 10px;
			}
		}
		.sticky-menu.active{
			.header-panel-row{
				margin:0;
			}
			.header-middle.container{
				top: 4px;
    			right: 10px;
			}
		}
	}
}
@media @tablet_strict{
	.page-header {
		.header-middle {
			top:5px;
			.header-panel-right{
				max-width: 370px;
			}
		}
		.header-search {
			width: 94%;
		}
	}
}
@media @phone{
	.page-header {
		.logo{
			margin-top:12px;
		}
		.sticky-menu{
			padding: 0;
		}
		.header-top{
			display: none;
		}
		.hot-line-wrapper{
			display: none;
		}
		.header-middle {
			padding: 0;
			.header-panel-left{
				text-align: center;
			}
			.header-panel-right {
			    display: none;
			}
		}
		.sticky-menu.active {
			.header.panel{
				padding-top: 0;
				padding-bottom: 0;
			}
			.nav-toggle{
				left: -10px;
			}
		}
	}
}
/* ============================================ *
 * Codazon_Header-Sticky
 * ============================================ */

 @media @tablet_vertical{
	.page-header{
		.sticky-menu.active{
			.header-top-panel,
			.header-panel-left,
			.nested,
			.hot-line-wrapper{
			    display: none;
			}
			.header-top{display: none}
			.header.panel{
				max-width: 1400px;
				margin: 0 auto;
    			position: relative;
			}
			.header-middle {
			    position: absolute;
			    top: 5px;
			    right: 0;
			    width: 90px;
			    padding: 0;
			    .rtl-layout &{
			    	left:15px;
			    	right:auto;
			    }
			}
			.header-bottom {
			    display: inline-block;
			    padding-right: 110px;
			    width: 100%;
			    .rtl-layout &{
			    	padding-left: 110px;
			    	padding-right: 0
			    }
			}	
			.panel.header{
				padding:0;
			}
			.header-panel-row{
				width: 90px
			}
			.header-panel-right,
			.header-panel-center{
				width: 50%;
				padding: 0 5px;
			}
			/*mini cart*/
			.minicart-wrapper{
				margin: 0;
				.cart-subtotal{
					display: none
				} 
			}

			.action.showcart{
				text-align: center;
				border: 1px solid;
				&:before{
					font-size: 20px;
					vertical-align: middle;
					color:@menu_text
				}
			}
			/*search*/
			.action.showcart{
				width: 35px;
				height: 35px;
				line-height: 30px;
				.abs-transition(background 0.5s ease);
				.abs-style(@menu_text, lighten(@menu_background, 30%), @menu_background );
				&:hover{
					background:lighten(@menu_background, 30%);
				}
			}
			.header-search:hover .minisearch .actions .search {
				background:lighten(@menu_background, 30%);
			}
			.action.showcart .counter.qty{
				top: -5px;
    			left: 30px;
    			.rtl-layout &{
    				left:auto;
    				right:30px;
    			}
			}
		}
	}
}
.search-box-style-04();